<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <a href="index.html">Home</a>
    <a href="skill.page.html">My Skills</a>
    <a href="contact.html">My Contact</a>
    <h1>Details About My Projects</h1>
    <p>Personally i didn't done many project just i made few forms and just done one offical project and one is on going with my university teacher.</p>
    <br>
    <h3>Here's My First Form</h3>
    <img src="./imges/form1.png" alt="Error" width="400">   
    <p>This form i made for the first time for practicing by my self in my summer semester in university</p>
    <br>
    <h3>My Second Form </h3>
    <img src="./imges/form.2.png" alt="Error" width="400"> 
    <P> This form is also a part of my practice in which i learn many important point which helps in my offical project.</P>
    <br>
    <h3>My Ongoing Project</h3>
    <img src="./imges/dashboard demo.png  " alt="Error" width="400">  
    
    <p>in this project i made many mistakes and its little bit new for me and im also leaning many new things by making this project. </p>
     <h1><b>DEMO OF MY WORK</b></h1>   
     <a href="Registration.html"  >FORM</a>        
</body>
</html>