<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKILL</title>
</head>
<body>
    <a href="index.html">Home</a>
    <a href="project.page.html">My Projects</a>
    <a href="contact.html">My Contact</a>
    <h1>MY SKILLS</h1>
    <P>I'm not that much skillfull in one specific thing but i can do many things like Baking, cooking, sketching, craftig, jewelary making , and fixing some machenical or electical things .</P>
    <ul>
        <dl>
            <dt>Jewelary Making</dt>
            <dd>Jewelary making in scence of i can recycle my old jewelary for making some thing new like <b>bracelates , earings</b> and <b>necklace</b>. I made and sale them before my uni .</dd>
        </dl>
        <li>Baking</li>
        <li>Cooking</li>
        <li>Sketching</li>
        <li> Crafting</li>
    </ul>
</body>
</html>